[submodule "examples/gemma-cookbook"]
	path = examples/gemma-cookbook
	url = https://github.com/google-gemini/gemma-cookbook.git
[submodule "examples/open_deep_research_example"]
	path = examples/open_deep_research_example
	url = https://github.com/langchain-ai/open_deep_research.git
[submodule "examples/thinkdepthai_deep_research_example"]
	path = examples/thinkdepthai_deep_research_example
	url = https://github.com/ThinkDepthAI/deep-research.git
